{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>
    {% include 'include/header.html' %}
        <div class="breadcrumb-area pt-95 pb-95 bg-img" style="background-image:url({% static 'img/banner/banner-2.jpg' %]);">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2>About Us</h2>
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="about-us-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="about-us-img pr-30 wow fadeInLeft">
                            <img alt="" src="{{ about_us.photo.url }}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 d-flex align-items-center">
                        <div class="about-us-content">
                            <h2>About Marten</h2>
                            <p>{{ about_us.description }}</p>
                            <div class="about-us-list">
                                <ul>
                                    <li>Баланс и польза: Оптимальное сочетание витаминов, минералов и питательных веществ.</li>
                                    <li>Натуральные ингредиенты: Без искусственных добавок, красителей и консервантов. </li>
                                    <li>Для каждого питомца: Линейки кормов для кошек, собак и других домашних любимцев с учетом их возраста, активности и потребностей.</li>
                                </ul>
                            </div>
                            <div class="about-us-btn">
                                <a class="btn-style" href="#">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-count-area pb-70 pt-100 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="single-count mb-30 text-center">
                            <h2 class="count">{{ about_us.year_in_buisness}}</h2>
                            <span>Лет в бизнесе</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="single-count mb-30 text-center">
                            <h2 class="count">{{about_us.happy_people}}</h2>
                            <span>млн. довольных<br>клиентов</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="single-count mb-30 text-center">
                            <h2 class="count">{{about_us.sales}}</h2>
                            <span>млрд. продаж</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="single-count mb-30 text-center">
                            <h2 class="count">{{about_us.award_winning}}</h2>
                            <span>наград</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="testimonial-area pt-90 pb-70 bg-img" style="background-image:url({% static 'img/banner/banner-1.jpg' %]);">
		    <div class="container">
                <div class="row">
                    <div class="col-lg-10 ml-auto mr-auto">
                        <div class="testimonial-wrap">
                            <div class="testimonial-text-slider text-center">
                                <div class="sin-testiText">
                                    <p>Lorem ipsum dolor sit amet, co adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita ullamco laboris nisi ut aliquip ex ea commodo</p>
                                </div>
                                <div class="sin-testiText">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or amro porano ja cai tomi tai go amro porano  amro porano ja cai tomi tai go  .... </p>
                                </div>
                                <div class="sin-testiText">
                                    <p>Lorem ipsum dolor sit amet, co adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita ullamco laboris nisi ut aliquip ex ea commodo</p>
                                </div>
                                <div class="sin-testiText">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or amro porano ja cai tomi tai go amro porano  amro porano ja cai tomi tai go  .... </p>
                                </div>
                            </div>
                            <div class="testimonial-image-slider text-center">
                                <div class="sin-testiImage">
                                    <img src="{% static 'img/testi/3.jpg' %}" alt="">
                                    <h3>Samia Robiul</h3>
                                    <h5>Customer</h5>
                                </div>
                                <div class="sin-testiImage">
                                    <img src="{% static 'img/testi/4.jpg' %}" alt="">
                                    <h3>Samia Robiul</h3>
                                    <h5>Customer</h5>
                                </div>
                                <div class="sin-testiImage">
                                    <img src="{% static 'img/testi/3.jpg' %}" alt="">
                                    <h3>F H Shuvo</h3>
                                    <h5>Developer</h5>
                                </div>
                                <div class="sin-testiImage">
                                    <img src="{% static 'img/testi/5.jpg' %}" alt="">
                                    <h3>T T Rayed</h3>
                                    <h5>CEO</h5>
                                </div>
                            </div>
                            <div class="testimonial-shap">
                                <img src="{% static 'img/icon-img/testi-shap.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<div class="team-ara pt-95 pb-70">
            <div class="container">
                <div class="section-title text-center mb-55">
                    <h2>Our Team</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                </div>
                <div class="row">
                {% for team in teams %}
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-wrapper mb-30">
                            <div class="team-img">
                                <a href="#">
                                    <img src="{{ team.photo.url }}" alt="">
                                </a>
                                <div class="team-social">
                                    <a href="#">
                                        <i class=" {team.facebook} "></i>
                                    </a>
                                    <a href="#">
                                        <i class=" {team.instagram} "></i>
                                    </a>
                                </div>

                            </div>
                            <div class="team-content text-center">
                                <h4>{{ team.name }}</h4>
                                <span>{{ team.job_title }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
		{% include 'include/footer.html' %}
		{% endblock %}



		<!-- all js here -->