{% extends "base.html" %}
{% load static %}
{% block content %}
   <body>
        {% include "include/header.html" %}
  <h2>Сбросить пароль</h2>
  <p>Введите ваш email, и мы отправим вам ссылку для сброса пароля.</p>
  
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Отправить ссылку для сброса пароля</button>
  </form>
  
  <p><a href="{% url 'login' %}">Назад к форме входа</a></p>
                {% include "include/footer.html" %}

{% endblock %}
